include ./partials/header.pug
h1 Qui prend quoi ?

h2= party.name
h3 Créé par #{party.author}

label(for="url") Partagez l'événement
input(id="url" value=`${url}`)

h3 Liste des éléments
table
    thead
        tr
            th Element
            th Action
    tbody
        each item in party.items
            tr
                td #{item.name}
                td
                    a(href=`/party/${party._id}/element/${item._id}/delete`) supprimer

h3 Ajouter un élément
form(method="post" action=`${postRoute}`)
    div
        label(for="name") Nom de l'élément
        input(name="name" id="name" required placeholder="Bière")

        input(name="user" id="user" required value="Romain" hidden=true)
    button(type="submit") Créer